<ion-view title="Workout B" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="workoutB-form3" class="list ">
            <label class="item item-input " id="workoutB-input8">
                <span class="input-label">Bench 3x5</span>
                <input type="text" placeholder="Weight">
            </label>
            <label class="item item-input " id="workoutB-input9">
                <span class="input-label">Squat 3x5</span>
                <input type="text" placeholder="Weight">
            </label>
            <label class="item item-input " id="workoutB-input10">
                <span class="input-label">Romanian Deadlift 3x8</span>
                <input type="text" placeholder="Weight">
            </label>
            <label class="item item-input " id="workoutB-input11">
                <span class="input-label">Lat pulldowns 3x8</span>
                <input type="text" placeholder="Weight">
            </label>
            <label class="item item-input " id="workoutB-input12">
                <span class="input-label">Ab work</span>
                <input type="text" placeholder="Weight">
            </label>
            <label class="item item-input " id="workoutB-input13">
                <span class="input-label">Curls 2x10</span>
                <input type="text" placeholder="Weight">
            </label>
        </form>
        <a ui-sref="menu.home" id="workoutB-button3" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>