<ion-view title="Workout A" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="workoutA-form2" class="list ">
            <label class="item item-input " id="workoutA-input2">
                <span class="input-label">Bench 3x5</span>
                <input type="text" placeholder="Weight" ng-model="weights.bench">
            </label>
            <label class="item item-input " id="workoutA-input3">
                <span class="input-label">Squat 3x5</span>
                <input type="text" placeholder="Weight" ng-model="weights.squat">
            </label>
            <label class="item item-input " id="workoutA-input4">
                <span class="input-label">Pedlay Rows 3x8</span>
                <input type="text" placeholder="Weight" ng-model="weights.pedlayRows">
            </label>
            <label class="item item-input " id="workoutA-input5">
                <span class="input-label">Reverse Flies 3x8</span>
                <input type="text" placeholder="Weight" ng-model="weights.reverseFlies">
            </label>
            <label class="item item-input " id="workoutA-input6">
                <span class="input-label">Calfs + shoulders 2x15</span>
                <input type="text" placeholder="Weight" ng-model="weights.calfRaisesAndShoulders">
            </label>
            <label class="item item-input " id="workoutA-input7">
                <span class="input-label">Tricep Pulldowns 2x10</span>
                <input type="text" placeholder="Weight" ng-model="weights.triceps">
            </label>
            <label class="item item-input " id="workoutA-input8">
                <span class="input-label">Abs 2x15</span>
                <input type="text" placeholder="Weight" ng-model="weights.abs">
            </label>
        </form>
        <a ng-click="create()" id="workoutA-button4" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>
